.context-menu {
    -fx-background-color: rgba(0,0,0,0);
}

.table-view .column-header,
.table-view .column-header-background .filler {
    -fx-background-color:  #6622CC;
}

.table-view .column-header .label{
   -fx-text-fill: white;
   -fx-font-weight: bold;
}